﻿@model CinePolis.Web.Touch.Models.Payment.PinViewModel
@{
    ViewBag.Title = "Pin";
}

@using (Html.BeginForm("Pin", "Payment", FormMethod.Post, new { id = "main-form" }))
{
    @Html.ValidationSummary()
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <p class="ultra-bold">
                <span class="label label-primary">6.</span>
                Voer uw pincode in
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Uw selectie<a href="#panel-title" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
                </div>
                <div class="panel-body">
                    <img src="@Model.MoviePoster" width="231" height="300" />
                    <hr />
                    <table>
                        <tr>
                            <td class="col-lg-3">Film:</td>
                            <td>@Model.MovieTitle</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Dag:</td>
                            <td>

                                @if (Model.ScheduledTime.Date == DateTime.Now.Date)
                                {
                                    @:Vandaag
                        }
                                else if (Model.ScheduledTime.Date == DateTime.Now.AddDays(1).Date)
                                {
                                    @:Morgen
                        }
                                else
                                {
                                    @Model.ScheduledTime.ToString("dddd")
                                }

                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Tijd:</td>
                            <td>@Model.ScheduledTime.ToString("t")</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.PinCode, new { maxlength = 4 })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-left" href="@Url.Action("SelectPayment", "Order")"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Andere vorm van betaling</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-right" onclick="document.getElementById('main-form').submit();">Betalen <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
}