﻿@using Neodynamic.Web.MVC.Barcode
@model CinePolis.Web.Touch.Models.Ticket

@{
    ViewBag.Title = "Print pagina";
}

@using (Html.BeginForm("Print", "Print"))
{
    <h1>@Html.DisplayFor(m => m.Title)</h1>
    <h1>@Html.DisplayFor(m => m.CinemaHallId)</h1>
    <h1>@Html.DisplayFor(m => m.PlayDate)</h1>
    <h1>@Html.DisplayFor(m => m.Price)</h1>
    <h1>@Html.DisplayFor(m => m.ReservationId)</h1>
    <h1>@Html.DisplayFor(m => m.Row)</h1>
    <h1>@Html.DisplayFor(m => m.SeatNumber)</h1>

    @Html.Raw(BarcodeHtmlHelper.EmbedBarcodeImage("S=" + Symbology.QRCode.ToString()
        + "&C=" + @Html.DisplayFor(m => m.OrderId), "Sample Barcode", "", ""))



}


