﻿
@{
    ViewBag.Title = "Printerror";
}

<h3>Er ging iets fout met het printen.</h3>
<h3>Ga naar een van onze kassa's.</h3>


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <input type="submit" value="Hoofdpagina" name="button" />
}


