﻿@model CinePolis.Web.Touch.Models.Order.SelectMovieViewModel
@{
    ViewBag.Title = "SelectMovie";
}

@using (Html.BeginForm("SelectMovie", "Order", FormMethod.Post, new { id = "main-form" }))
{
    @Html.HiddenFor(m => m.SelectedDate)
    @Html.ValidationSummary()
    
    <div class="row">
        <div class="col-md-3">
            <p class="ultra-bold">
                <span class="label label-primary">1.</span>
                Selecteer een dag:
            </p>
        </div>
        <div class="col-lg-offset-1 col-md-8">
            <p class="ultra-bold">
                <span class="label label-primary">2.</span>
                Selecteer een film:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                @foreach (var day in Model.AvailableDays)
                {
                    <a class="list-group-item active" href="@Url.Action("SelectMovie", new { date = day.Date })">
                        @if (day.Date == DateTime.Now.Date)
                        {
                            <h4 class="list-group-item-heading">Vandaag</h4>
                        }
                        else if (day.Date == DateTime.Now.AddDays(1).Date)
                        {
                            <h4 class="list-group-item-heading">Morgen</h4>
                        }
                        else
                        {
                            <h4 class="list-group-item-heading">@day.ToString("dddd")</h4>
                        }
                        <p class="list-group-item-text">@day.ToString("d MMMM yyyy")</p>
                    </a>
                }
                <hr />
                <p>Ga voor datums verder in de toekomst naar de kassa.</p>
            </div>
        </div>
        <div class="col-lg-offset-1 col-sm-8">
            <table class="table table-hover">
                <tbody>
                    @foreach (var movie in @Model.Movies)
                    {
                        <tr>
                            <td><img src="@movie.Poster" /></td>
                            <td><h4>@movie.Title</h4></td>
                            @foreach (var schedule in movie.Schedules)
                            {
                                <td>
                                    <a class="btn btn-default btn-time col-lg-12">
                                        <label>
                                            @Html.RadioButtonFor(m => m.SelectedScheduleId, schedule.ScheduleId)
                                            @schedule.PlayDate.ToString("t")
                                        </label>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-left" href="@Url.Action("Index", "Home")"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Annuleren</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-right" onclick="document.getElementById('main-form').submit();">Kaartjes selecteren <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
}