﻿@model CinePolis.Web.Touch.Models.Order.SelectSeatsViewModel
@{
    ViewBag.Title = "SelectTickets";
    int rowCounter = 0;
}

@using (Html.BeginForm("SelectSeats", "Order", FormMethod.Post, new { id = "main-form" }))
{
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <p class="ultra-bold">
                <span class="label label-primary">4.</span>
                Selecteer uw gewenste zitplaatsen
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Uw selectie<a href="#panel-title" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
                </div>
                <div class="panel-body">
                    <img src="@Model.MoviePoster" width="231" height="300" />
                    <hr />
                    <table>
                        <tr>
                            <td class="col-lg-3">Film:</td>
                            <td>@Model.MovieTitle</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Dag:</td>
                            <td>

                                @if (Model.ScheduledTime.Date == DateTime.Now.Date)
                                {
                                    @:Vandaag
                            }
                                else if (Model.ScheduledTime.Date == DateTime.Now.AddDays(1).Date)
                                {
                                    @:Morgen
                            }
                                else
                                {
                                    @Model.ScheduledTime.ToString("dddd")
                                }

                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Tijd:</td>
                            <td>@Model.ScheduledTime.ToString("t")</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Kaartjes:</td>
                            <td>@Model.TicketCount</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <table class="seats-table">
                <tr>
                    @foreach (var seat in Model.Seats)
                    {
                        if (rowCounter == 0)
                        {
                            <td class="rownumber">Rij @(rowCounter+1)</td>
                            rowCounter = seat.RowNumber;
                        }
                        else if (seat.RowNumber > rowCounter)
                        {
                            @:</tr><tr><td>Rij @(rowCounter+1)</td>
                            rowCounter = seat.RowNumber;
                        }

                        <td>
                            @if (seat.IsReserved)
                            {
                                <a href="" class="seat seat-reserved" onclick="return onSeatClick(this, @seat.SeatId);" id="seat-@seat.SeatId">&nbsp;</a>
                            }
                            else if (seat.IsSelectedByOther)
                            {
                                <a href="" class="seat seat-selected-other" onclick="return onSeatClick(this, @seat.SeatId);" id="seat-@seat.SeatId">&nbsp;</a>
                            }
                            else if (seat.IsSelectedBySelf)
                            {
                                <a href="" class="seat seat-selected-self" onclick="return onSeatClick(this, @seat.SeatId);" id="seat-@seat.SeatId">&nbsp;</a>
                            }
                            else
                            {
                                <a href="" class="seat seat-available" onclick="return onSeatClick(this, @seat.SeatId);" id="seat-@seat.SeatId">&nbsp;</a>
                            }
                        </td>
                    }
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <h3>Legenda</h3>
            <ul class="seats-legenda">
                <li class="seat-available">Beschikbaar</li>
                <li class="seat-selected">Uw selectie</li>
                <li class="seat-reserved">Gereserveerd</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-left" href="@Url.Action("SelectTickets")"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Terug naar kaart selectie</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-right" onclick="document.getElementById('main-form').submit();">Afrekenen <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function onSeatClick(element, seatId) {
            if ($(element).hasClass("seat-reserved")) {
                // Do nothing?
            }
            else if ($(element).hasClass("seat-selected-other")) {
                // Do nothing?
            }
            else if ($(element).hasClass("seat-selected-self")) {
                $.post('@Url.Action("RemoveSeatSelection")?seatId=' + seatId, function () {
                    $(element).removeClass("seat-selected-self");
                    $(element).addClass("seat-available");
                });
            }
            else {
                $.post('@Url.Action("SaveSeatSelection")?seatId=' + seatId, function (data) {
                    if (data.IsSelected) {
                        $(element).addClass("seat-selected-self");
                    }
                    else if (data.IsAlreadySelectedByOther) {
                        $(element).addClass("seat-selected-other");
                    }
                    else if (data.IsAlreadyReservedByOther) {
                        $(element).addClass("seat-reserved");
                    }
                });
            }
            return false;
        }
    </script>
}
