﻿@model CinePolis.Web.Touch.Models.Order.SelectTicketsViewModel
@{
    ViewBag.Title = "SelectTickets";
}

@using (Html.BeginForm("SelectTickets", "Order", FormMethod.Post, new { id = "main-form" }))
{
    @Html.ValidationSummary()
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <p class="ultra-bold">
                <span class="label label-primary">3.</span>
                Selecteer uw gewenste aantal tickets
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Uw selectie<a href="#panel-title" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
                </div>
                <div class="panel-body">
                    <img src="@Model.MoviePoster" width="231" height="300" class="img-responsive" />
                    <hr />
                    <table>
                        <tr>
                            <td class="col-lg-3">Film:</td>
                            <td>@Model.MovieTitle</td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Dag:</td>
                            <td>

                                @if (Model.ScheduledTime.Date == DateTime.Now.Date)
                                {
                                    @:Vandaag
                            }
                                else if (Model.ScheduledTime.Date == DateTime.Now.AddDays(1).Date)
                                {
                                    @:Morgen
                            }
                                else
                                {
                                    @Model.ScheduledTime.ToString("dddd")
                                }

                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">Tijd:</td>
                            <td>@Model.ScheduledTime.ToString("t")</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tarief</th>
                        <th>Prijs per ticket</th>
                        <th>Aantal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(m => m.Tickets)
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-left" href="@Url.Action("SelectMovie", new { date = @Model.ScheduledTime })"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Terug naar film overzicht</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-lg btn-primary pull-right" onclick="document.getElementById('main-form').submit();">Stoelen selecteren <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function addTicketCount(textBoxId, amount) {
            var currentAmountString = $("#" + textBoxId).val();
            var currentAmount = parseInt(currentAmountString);
            if (currentAmount === NaN || currentAmount + amount < 0)
                currentAmount = 0;
            else
                currentAmount += amount;
            $("#" + textBoxId).val(currentAmount);
            return false;
        }
    </script>
}
