﻿@model CinePolis.Web.Touch.Models.Order.SelectPaymentViewModel
@{
    ViewBag.Title = "SelectPayments";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <p class="ultra-bold">
            <span class="label label-primary">5.</span>
            Selecteer een betaal methode
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title">Uw selectie<a href="#panel-title" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body">
                <img src="@Model.MoviePoster" width="231" height="300" />
                <hr />
                <table>
                    <tr>
                        <td class="col-lg-3">Film:</td>
                        <td>@Model.MovieTitle</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">Dag:</td>
                        <td>

                            @if (Model.ScheduledTime.Date == DateTime.Now.Date)
                            {
                                @:Vandaag
                        }
                            else if (Model.ScheduledTime.Date == DateTime.Now.AddDays(1).Date)
                            {
                                @:Morgen
                        }
                            else
                            {
                                @Model.ScheduledTime.ToString("dddd")
                            }

                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">Tijd:</td>
                        <td>@Model.ScheduledTime.ToString("t")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <p>
            <a class="btn btn-lg btn-primary" href="@Url.Action("Pin", "Payment")">Pinnen <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary pull-left" href="@Url.Action("SelectSeats")"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Terug naar stoel selectie</a>
    </div>
</div>