﻿@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
::-moz-selection { /* Code for Firefox */
    background: #ff1f67;
}

::selection {
    background: #ff1f67;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.ultra-bold {
    font-weight: 700;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
header {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-time {
    padding: 50px 0px;
}
.table tbody > tr > td {
    vertical-align: middle;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.row {
    margin-bottom: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #00a79d;
    color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #ff1f67;
    border-color: #ff1f67;
    color: #ffffff;
}
.logo-wrapper {
    text-align: left;
}

/* SEAT SELECTOR */
.seats-table td {
    display: table-cell;
    width:80px;
    height:45px;
}

.seats-table td.rownumber {
    
}

.seats-table td a.seat {
        border-radius: 5px;
        width: 96%;
        height: 96%;
        display:block;
        margin:2%;
    }

.seats-table .seat-available {
        background-color: #00a79d;
    }

.seats-table .seat-selected-self {
        background-color: black;
    }

.seats-table .seat-selected-other {
        background-color: #ff1f67;
    }

.seats-table .seat-reserved {
        background-color: #ff1f67;
    }

/* SEATS LEGENDA */
.seats-legenda {
    list-style:disc;
    font-size:1.4em;
}
.seats-legenda .seat-available {
    color:#00a79d;
}
.seats-legenda .seat-selected {
    color:#black;
}
.seats-legenda .seat-reserved {
    color:#ff1f67;
}