﻿@model CinePolis.Web.Touch.Models.TicketSelection

<tr>
    <td class="col-lg-6">
        <h4>@Model.DiscountDescription</h4>
    </td>
    <td class="col-lg-2">
        <h4>€ @Model.FinalPrice.ToString("0.00")</h4>
    </td>
    <td class="col-lg-2">
        @Html.HiddenFor(m => m.PriceId)
        <h4>@Html.TextBoxFor(m => m.SelectedAmount, new { id = "input-ticket-" + Model.PriceId, @readonly = "readonly" })</h4>
    </td>
    <td class="col-lg-2">
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-lg btn-default" onclick="return addTicketCount('input-ticket-@Model.PriceId', 1);"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-lg btn-default" onclick="return addTicketCount('input-ticket-@Model.PriceId', -1);"><span aria-hidden="true" class="glyphicon glyphicon-minus"></span></button>
        </div>
    </td>
</tr>