﻿<div class="row">
    <div class="col-md-3">
        <p class="ultra-bold">
            <span class="label label-primary">1.</span> 
            Selecteer een dag:
        </p>
    </div>
    <div class="col-lg-offset-1 col-md-8">
        <p class="ultra-bold">
            <span class="label label-primary">2.</span>
            Selecteer een film:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a class="list-group-item active" href="#">
                <h4 class="list-group-item-heading">Vandaag</h4>
                <p class="list-group-item-text">14 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Morgen</h4>
                <p class="list-group-item-text">15 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Zaterdag</h4>
                <p class="list-group-item-text">16 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Zondag</h4>
                <p class="list-group-item-text">17 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Maandag</h4>
                <p class="list-group-item-text">18 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Dinsdag</h4>
                <p class="list-group-item-text">19 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Woensdag</h4>
                <p class="list-group-item-text">20 Mei 2015</p>
            </a>
            <a class="list-group-item" href="#">
                <h4 class="list-group-item-heading">Donderdag</h4>
                <p class="list-group-item-text">21 Mei 2015</p>
            </a>
            <hr/>
            <p>Ga voor datums verder in de toekomst naar de kassa.</p>
        </div>
    </div>
    <div class="col-lg-offset-1 col-sm-8">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><img src="http://i.newsarama.com/images/i/000/143/996/i300/Avengers_Age_of_Ultron_germany.jpg" width="80px" height="120px" /></td>
                    <td><h4>Avengers: Age Of Ultron</h4>
                    
                    </td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12" href="/Home/TicketSelection">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/animals" /></td>
                    <td><h4>American Sniper</h4></td>
                    <td></td>
                    <td></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/food" /></td>
                    <td><h4>Fast &amp; Furious 7</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/fashion" /></td>
                    <td><h4>Avangers Age of altron</h4></td>
                    <td></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/animals" /></td>
                    <td><h4>American Sniper</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/food" /></td>
                    <td><h4>Fast &amp; Furious 7</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/fashion" /></td>
                    <td><h4>Avangers Age of altron</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12" style="min-height: 100%;height: 100%;">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/animals" /></td>
                    <td><h4>American Sniper</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
                <tr>
                    <td><img src="http://lorempixel.com/80/120/food" /></td>
                    <td><h4>Fast &amp; Furious 7</h4></td>
                    <td><a class="btn btn-default btn-time col-lg-12">16:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">19:00</a></td>
                    <td><a class="btn btn-default btn-time col-lg-12">22:00</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
