﻿@model CinePolis.Web.Touch.Models.Ticket
@{
    ViewBag.Title = "Print";
}

<h2>Print</h2>

@using (Html.BeginForm("Print", "Print", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Title)
    @Html.TextBoxFor(m => m.CinemaHallId)
    @Html.TextBoxFor(m => m.OrderId)
    @Html.TextBoxFor(m => m.PlayDate)
    @Html.TextBoxFor(m => m.Price)
    @Html.TextBoxFor(m => m.ReservationId)
    @Html.TextBoxFor(m => m.Row)
    @Html.TextBoxFor(m => m.SeatNumber)
    <input type="submit" value="Print" name="button"/>
}

