﻿<div class="row">
    <div class="col-md-3">
        <p class="ultra-bold">
            <span class="label label-primary"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></span>
            Uw selectie:
        </p>
    </div>
    <div class="col-md-9">
        <p class="ultra-bold">
            <span class="label label-primary">3.</span>
            Selecteer uw gewenste aantal tickets
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title">Avengers: Age Of Ultron<a href="#panel-title" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body">
                <img src="http://i.newsarama.com/images/i/000/143/996/i300/Avengers_Age_of_Ultron_germany.jpg" width="231" height="300"/>
                <hr/>
                <table>
                    <tr>
                        <td class="col-lg-3">Film:</td>
                        <td>Avengers: Age Of Ultron</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">Dag:</td>
                        <td>Vandaag</td>
                    </tr>
                    <tr>
                        <td class="col-lg-3">Tijd:</td>
                        <td>22:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tarief</th>
                    <th>Prijs per ticket</th>
                    <th>Aantal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-lg-6">
                    <h4>Normaal tarief</h4>
                </td>
                <td class="col-lg-2">
                    <h4>€ 8,50</h4>
                </td>
                <td class="col-lg-2">
                    <h4>0</h4>
                </td>
                <td class="col-lg-2">
                    <div class="btn-group btn-group-lg" role="group">
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-minus"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6">
                    <h4>Korting tarief</h4>
                </td>
                <td class="col-lg-2">
                    <h4>€ 7,50</h4>
                </td>
                <td class="col-lg-2">
                    <h4>0</h4>
                </td>
                <td class="col-lg-2">
                    <div class="btn-group btn-group-lg" role="group">
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-minus"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-lg-6">
                    <h4>Popcorn arrangement</h4>
                </td>
                <td class="col-lg-2">
                    <h4>€ 2,50</h4>
                </td>
                <td class="col-lg-2">
                    <h4>0</h4>
                </td>
                <td class="col-lg-2">
                    <div class="btn-group btn-group-lg" role="group">
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-lg btn-default"><span aria-hidden="true" class="glyphicon glyphicon-minus"></span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary pull-left" href="/Home/MovieOverview"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Terug naar overzicht</a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-lg btn-primary pull-right">Afrekenen <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>